<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orchidatech.askandanswer" >

    <permission
        android:name="com.orchidatech.askandanswer.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.orchidatech.askandanswer.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
,
    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Configurations For Active Android -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="AskAndAnswer.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.orchidatech.askandanswer.Database.Model.Category, com.orchidatech.askandanswer.Database.Model.Comments, com.orchidatech.askandanswer.Database.Model.Notifications, com.orchidatech.askandanswer.Database.Model.Post_Favorite, com.orchidatech.askandanswer.Database.Model.Posts,  com.orchidatech.askandanswer.Database.Model.Search_History, com.orchidatech.askandanswer.Database.Model.Settings, com.orchidatech.askandanswer.Database.Model.User_Actions, com.orchidatech.askandanswer.Database.Model.User_Categories, com.orchidatech.askandanswer.Database.Model.Users" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity.MainScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SplashScreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SelectCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ViewPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdateProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.AddEditPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Activity.CategoryPosts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdateCategory"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".Activity.ForgetPassword" >
        </activity>
        <activity android:name=".Activity.Search" >
        </activity>

        <receiver
            android:name=".Recievers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.orchidatech.askandanswer" />
            </intent-filter>
        </receiver>

        <service android:name=".Services.GcmIntentService" />

        <activity android:name=".Activity.NotificationPostView" >
        </activity>
    </application>

</manifest>
